$button-default-height:36px;
$button-default-font-size:14px; 
$button-default-min-width:64px;

$button-small-height:28px;
$button-small-font-size:12px; 
$button-small-min-width:58px;

$button-large-height:44px; 
$button-large-font-size:16px;
$button-large-min-width:70px;